<%- include('inc/header.ejs') %>

            <div class="row">
                <div class="col">
                    <form method="GET" action="/results">
                        <div class="mb-3 text-center">
                            <label id="makes_label" for="makes" class="form-label">Make</label>
                            <select id="makes_select" name="makes_select" class="form-select" aria-label="Makes" >
                                <option value="0">ALL MAKES</option>
                                <% autoMakes.forEach((makes) => { %>
                                <option value="<%=makes%>"><%=makes%></option>
                                <% }) %>
                            </select>
                            <label id="models_label" for="models" class="form-label">Model</label>
                            <select id="models_select" name="models_select" class="form-select" aria-label="Models" disabled><option value="0">ALL MODELS</option></select>
                            <label id="postal_code_label" for="postal_code" class="form-label">Postal Code</label>
                            <input id="postal_code" type="text" class="form-class" aria-label="Postal Code" size="7" />
                            <button id="submit" type="submit" class="btn btn-primary">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="col text-center">There are <%=adcount%> listings from <%=dealercount%> dealers.<br /><br /></div>
            </div>
            <%
            let col = 0
            results.forEach((result) => {
                image_arr = result.auto_images.split(',h')
            %>
                <% if (col == 0) { %> 
                    <div class="row">
                <% } %>
                    <div class="col-sm">
                        <div class="card border-primary">
                            <div class="card-img-top">
                                <div class="embed-responsive embed-responsive-4by3">
                                    <div class="embed-responsive-item">
                                        <a href="listing?id="><img src="<%=image_arr[0]%>" width="100%" /></a>
                                    </div>
                                </div>
                            </div>

                            <div class="card-body">
                                <a href="listing?id=">
                                    <h5 class="card-title"><%=result.auto_year%> <%=result.auto_make%> <%=result.auto_model%></h5>
                                </a>
                                <p class="card-text">Mileage: <%=result.auto_odometer%><br />Price: $ <%=result.auto_price%></p>
                                <a href="listing?id=" class="btn btn-primary">More Info</a>
                            </div>

                        </div>
                    </div>
            
                <% 
                if (col == 2) {
                    col = 0;
                %>
                    </div>
                <%
                } else {
                    col++
                }
                %>
            <% }) %>
              
<%- include('inc/footer.ejs') %>