<%- include('inc/header.ejs') %>

<%
function numberWithCommas(x) {
    return x.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
}
%>

<div class="alert alert-secondary" role="alert"><strong><%=pageTitle%></strong></div>
<div class="row">
    <div class="col-8">
        <div id="imageCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <% for (let i = 1; i < listing.images.length; i++) { %>
                <button type="button" data-bs-target="#imageCarousel" data-bs-slide-to="<%=i%>" aria-label="Slide <%=i+1%>"></button>
                <% } %>
            </div>

                <div class="carousel-inner">
                    <div class="carousel-item active"><img class="d-block w-100" src="<%=listing.images[0]%>" style="width:100%;"></div>
                    <% for (let i = 1; i < listing.images.length; i++) { %>
                    <div class="carousel-item"><img class="d-block w-100" src="<%=listing.images[i]%>" style="width:100%;"></div>
                    <% } %>
                </div>

                <button class="carousel-control-prev" type="button" data-bs-target="#imageCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#imageCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>

        <div class="col-4">
            <div class="card border-primary">
                <div class="card-body">
                    <h5 class="card-title"><a href="<%=listing.posting_url%>" target="_new"><%=listing.year%> <%=listing.make%> <%=listing.model%> <%=listing.trim%></a></h5>

                    <p class="card-text">
                        Price: <strong>$<%=numberWithCommas(listing.price)%></strong><br />
                        <% if (listing.base_price != '') { %>
                            Base price: $<%=numberWithCommas(listing.base_price)%><br />
                        <% } %>
                        Mileage: <%=numberWithCommas(listing.odometer)%><br />
                        VIN: <%=listing.vin%><br />
                        Exterior Color: <%=listing.color_exterior[0]%><br />
                        Interior Color: <%=listing.color_interior[0]%><br />
                        <% if (listing.doors != '') { %>
                            # of doors: <%=listing.doors%><br />
                        <% } %>
                        Class: <%=listing.body_class%><br />
                        <% if (listing.series != '') { %>
                            Series: <%=listing.series%><br />
                        <% } %>
                        Engine: <%=listing.displacement_l%>L <%=listing.engine_number_of_cylinders%> cylinders<br />
                        Fuel: <%=listing.fuel_type_primary%><br />
                        Transmission: <%=listing.transmission_style%><br />
                        <% if (listing.transmission_speeds != '') { %>
                            Transmission Speeds: <%=listing.transmission_speeds%><br />
                        <% } %>
                        Drivetrain: <%=listing.drive_type%><br /><br />

                        Reference: <%=listing.posting_id%><br />
                        <% if (listing.condition != '') {
                            if (listing.condition == 'Used') { %>
                                Preowned<br /><br />
                        <%  }
                        } %>

                        <a href="<%=listing.posting_url%>" target="_new">View on dealer website</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
<br />
<% if (listing.description != '' || listing.note != '') { %>
<div class="row">
    <div class="col-lg">
        <div class="card border-primary">
            <div class="card-body">
                <% if (listing.description != '') { %>
                    <%- listing.description%>
                <% } %>
                <% if (listing.note != '') { %>
                    <%=listing.note%>
                <% } %>
            </div>
        </div>
    </div>
</div><br />
<% } %>

<div class="row">
    <div class="col-lg">
        <div class="card border-primary">
            <div class="card-body text-center">
                <% dealer.forEach((detail) => { %>
                <strong><a href="<%=detail.url%>"><%=detail.name%></a></strong><br />
                <%=detail.address_number%> <%=detail.address_street%><br />
                <%=detail.address_city%>, <%=detail.address_state%> <%=detail.address_postal_code%><br />
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include('inc/footer.ejs') %>
